attrs
autopep8
black
certifi
charset-normalizer
click
colorama
idna
iniconfig
isort
mypy-extensions
numpy
packaging
pandas
pathspec
platformdirs
pluggy
py
pyarrow
pycodestyle
pyparsing
pytest
python-dateutil
python-dotenv
pytz
requests
six
toml
tomli
typing_extensions
urllib3
xlrd
